*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header*/
header {
    background: url(images/arbolitos.jpeg);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
}
header a {
    color: white;
    text-decoration: none;
}

#navegador {
    display: flex;
    align-items: center;
    font-size: 13px;
    width: 100%;
}
#navegador li{
    list-style: none;
    padding: 9px 10px;
    font-size: 18px;
    margin: 0 5px;
}

.logopexels {
    display: flex;
    padding: 0 10px 0 15px;
    width: 30%;
}
.logopexels a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.logopexels a:hover {
    color: rgb(216, 210, 210);
}
.logopexels img{
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 4em;
}
#menunavegador {
    display: flex;
    padding: 10px;
    width: 70%;
    justify-content: right;
    margin: 0 20px 0 60px;
}
.menunavegador-elemt {
    color: white;
}
.boton-navegador a {
    background-color: rgba(5, 160, 129, 0.932);
}
/*Transmision*/
.h-main-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 30px 0;
}
.bus-text {
    font-size: 2.3em;
    font-weight: 700;
    width: 50%;
    height: 30vh;
    padding: 10px 0 0 0;
}
.buscador {
    display: flex;
    width: 50%;
}
#buscar {
    width: 90%;
    height: 8.7vh;
    border-radius: .5em 0 0 .5em;
    background-color: rgba(251, 251, 255, 0.877);
    border: none;
}
#buscar::placeholder {
    font-size: 1.5em;
    padding-left: 15px;
}
.bus-button{
    border-radius: 0 .5em .5em 0;
    font-size: x-large;
    border: none;
    padding: 0 14px;
    background-color: rgba(251, 251, 255, 0.877);
}
#Sugerencias a {
    font-size: smaller;
    color: rgb(198, 198, 204);
}
#Sugerencias a:hover {
    color: white;
}
.barra-main {
    display: flex;
    flex-direction: column;
}
#segundomenu {
    display: flex;
    justify-content: center;
    padding: 8px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
}
#segundomenu a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

.line-after-menu{
    color: rgb(161, 156, 156);
    opacity: 0.2;
    border: 1px solid;
  }
  
  .title-list{
    display: inline-flex;
    width: 100%;
    height: 10vh;
    padding: 10px;
    font-weight: 500;
  }
  .text-under-nav{
    margin: 10px;
    font-size: 18px;
  }
  .title-tabs{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .rd__dropdown .rd__button {
    height: 100%;
  }
  .rd__button--with-icon.rd__button--compact, .rd__button--with-icon-right.rd__button--compact, .rd__button--with-icon-left.rd__button--compact {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  .rd__button--no-right-padding {
    padding-right: 0;
  }
  .rd__button--compact {
    padding: 6px 13px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    min-height: 32px;
  }
  main img {
      display: block;
      width: 100%;
      height: 100%;
  }
  .small, .large, .medium, .medium2{
      padding: 10px;
  }
  
  @media(min-width:480px){
      .contenedor{
          width: 460px;
          margin: auto;
      }
      .fila{
          display: flex;
      }
      .columna-1-3{
          width: 33.33%;
      }
      .columna-2-3{
          width: 33.33%;
      }
      .columna-3-3{
          width: 33.33%;
      }
      .small{
          height: 170px;
      }
      .medium, .medium2, .large{
          height: 210px;
      }
  }
  @media(min-width:768px) {
      .contenedor {
          width: 750px;
      }
      .small{
        height: 260px;
    }
    .medium, .medium2, .large{
        height: 390px;
    }
  }
  @media(min-width: 1500px){
      .contenedor {
          width: 1300px;
      }
      .small {
          height: 380px;
      }
      .medium, .medium2, .large{
          height: 500px;
      }
  }    
  
  }
